
SimpleNotes.xcodeproj/project.xcworkspace/xcshareddata/SimpleNotes.xccheckout

SimpleNotes.xcodeproj/project.xcworkspace/xcuserdata/nshubenkov.xcuserdatad/UserInterfaceState.xcuserstate

SimpleNotes.xcodeproj/xcuserdata/nshubenkov.xcuserdatad/xcschemes/SimpleNotes.xcscheme

SimpleNotes.xcodeproj/xcuserdata/nshubenkov.xcuserdatad/xcschemes/xcschememanagement.plist
